body {
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}
.flex-container {
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-2 {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#screen {
    padding: 40px 183px;
    border: solid black 1px;
    grid-area: screen;
    border-radius: 10px;
    background: white;
}
.grid-container {
    display: grid;
    padding: 35px;
    /* border: solid black 5px; */
    background: #393433;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-template-areas:
    "screen screen screen screen"
    "screen screen screen screen"
    "clear clear delete delete"
    "seven eight nine divide"
    "four five six multiply"
    "one two three subtract"
    "decimal zero equals add"
}
button {
    padding: 30px 40px;
    border: 0;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: bold;
    transition: .25s;
}
button:hover {
    cursor: pointer;
    transition: .25s;
    background-color: darkgrey;
}

.operator:hover {
background:#83b849;
}

.item-clear {
    grid-area: clear;
    background: #ffe878;
}

.item-clear:hover {
    /* background: #bb655c; */
    background: goldenrod;
    color:white;
}
.item-delete {
    grid-area: delete;
    background: #648cc9;
}
.item-delete:hover {
    /* background: #a45a52; */
    /* background: #1f3667; */
    background: #244c66;
    color: white;
}
.item-7 {
    grid-area: seven;
}

.item-8 {
    grid-area: eight;
}

.item-9 {
    grid-area: nine;
}

.item-divide {
    grid-area: divide;
}
.item-4 {
    grid-area: four;
}

.item-5 {
    grid-area: five;
}

.item-6 {
    grid-area: six;
}
.item-multiply {
    grid-area: multiply;
}
.item-1 {
    grid-area: one;
}
.item-2{
    grid-area: two;
}
.item-3 {
    grid-area: three;
}
.item-subtract {
    grid-area: subtract;
}
.item-decimal {
    grid-area: decimal;
}
.item-0 {
    grid-area: zero;
}
.item-equal{
    grid-area: equals;
}
.item-add {
    grid-area: add;
}

footer {
    text-align: center;
    margin-top: 10px;
    font-size: 1.3rem;
}

img {
    background:none;
    transition: .8s;
}

img:hover {
    transition: .8s;
    transform: scale(1.7);
    filter:opacity(50%);
    /* filter: sepia(0); */
}
